  <footer>
    <div class="social-links">
      <a href="https://www.linkedin.com/in/sushant-awalekar-a3b13429a/" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/sush123456789" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.instagram.com/sushant_awalekar/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/sushant.awalekar.1" target="_blank"><i class="fab fa-facebook"></i></a>
    </div>
    <p>© 2025 Sushant | All rights reserved.</p>
  </footer>

<script src="/js/app.js"></script>
</body>
</html>