<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Portfolio</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
  <header>
    <nav class="navbar">
      <div class="nav-left">
        <span class="brand-name">Sushant Awalekar</span>
      </div>
      <div class="nav-right">
        <a href="/"><i class="fa fa-home"></i> Home</a>
        <a href="#about"><i class="fa fa-user"></i> About</a>
        <a href="#techstack"><i class="fa fa-cubes"></i> Tech Stack</a>
        <a href="#awards"><i class="fa fa-trophy"></i> Awards & Certifications</a>
        <a href="#projects-preview"><i class="fa fa-folder-open"></i> Projects</a>
        <a href="#connect"><i class="fa fa-envelope"></i> Contact</a>
      </div>
    </nav>
  </header>