<%- include('partials/header') %>
<div class="main-container">
  <div class="left-image">

  </div>
  <div class="right-info">
    <section>
      <h1>Hey, I'm Sushant 👋</h1>
      <p id="typing-text">Full Stack Developer | Node.js | MongoDB | React</p>
      <a href="/projects">See My Work →</a>
    </section>
  </div>
</div>
<%- include('partials/footer') %>
