<%- include('partials/header') %>
<div class="main-container">
  
  <div class="left-info">
    <section>
      <h1>Hey, I'm Sushant 👋</h1>
      <p id="typing-text">Full Stack Developer | Node.js | MongoDB | React</p>
      <a href="/projects">See My Work →</a>
    </section>
  </div>
  <div class="right-image">
    <img src="https://i.postimg.cc/NfScMCLn/sushant-gibly.png" alt="sushant-gibly" />
  </div>
</div>
<%- include('partials/footer') %>
