*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    color: #fdfdfd;
    
    text-decoration: none;
    transition: all 0.3s ease;
}
html, body {
    height: 100%;
}
body {
    line-height: 1.6;
    font-size: 16px;
    background: radial-gradient(
        circle at center,
        #5c6bc0 0%,      /* center: lighter */
        #3949ab 60%,     /* middle: medium dark */
        #1a237e 100%     /* edges: darkest */
    );
}

.main-container {
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    padding: 20px;
}
.right-image {
    flex: 1;
    margin-right: 20px;
    
}
.right-image img {
    width: auto;
    height: 500px;
    border-radius: 10px;
}

.left-info {
    flex: 2;
    display: flex;
    font-size: 1.5em;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}
.left-info h1 {
    font-size: 2.0em;
    margin-bottom: 20px;
   font-family: 'Courier New', Courier, monospace;
}


header nav{
    text-align: right;
    padding: 10px 0 10px 0;
    position: fixed;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-left .brand-name {
    font-size: 1.5em;
    font-weight: bold;
    color: #fdfdfd;
    padding-left: 20px;
}

.nav-right a {
    padding: 10px 20px;
    display: inline-block;
    color: #fdfdfd;
    text-decoration: none;
}

.left-info h6 {
    font-size: 0.7em;
    margin-bottom: 10px;
    text-align:center ;
}

#typing-text::after {
  content: "|";
  animation: blink 1s infinite;
}
@keyframes blink {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0; }
}

footer {
    background-color: #1a237e;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
footer .social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer p {
   text-align: center;
    padding: 20px 0;

    color: white;
    position:relative;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
}

.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.contact-container button {
    padding: 10px 20px;
    background-color: #3949ab;
    color: #fdfdfd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    margin-top: 20px;
}
